@charset "UTF-8";

.background {
	margin-top: -15px;
	margin-left: 0px;
	background-color: #000;
	width: 100%;
	height: 50px;
}

.navstrip ul{
	background-color: #000;
	text-align: left;

}

.navstrip li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	display: inline-block;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
}

.navstrip a:link {
	color:#ffffff;
	text-decoration: none;
}

.navstrip a:visited {
	color:#ffffff;
	text-decoration: none;
}

.navstrip a:hover {
	color:#ff7400;
	text-decoration: none;
}

.navstrip a:active {
	color:#ffffff;
	text-decoration: none;
}

.maincontainer {
	margin-top: 0px;
}
